<div class="modal" data-modal="true" id="book_modal">
    <div class="modal-content max-w-[600px] top-[15%]">
        <div class="modal-header py-4 px-5">
            <h3 class="modal-title">Ma lecture</h3>
        </div>
        <div class="modal-body p-0 pb-5">
            <div class="scrollable-y-auto" data-scrollable="true" data-scrollable-max-height="auto"
                 data-scrollable-offset="300px">
                <form id="ajax-form" method="post" action="{{ path('form_save') }}">
                    <input type="hidden" name="idBookReading" id="idBookReading" value="">
                    <div class="flex flex-col gap-5 p-5">
                        <div class="flex flex-col gap-1">
                            <label for="book" class="form-label font-normal text-gray-900">Livre</label>
                            <select id="book" class="select" name="book">
                                {% for book in books %}
                                    <option value="{{book.id}}">{{book.name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="flex flex-col gap-1">
                            <label class="form-label font-normal text-gray-900">Mes notes</label>
                            <div class="flex flex-col w-full gap-1">
                            <textarea name="description" class="textarea"
                                      placeholder="Notez-ici les idées importantes de l'oeuvre." id="descriptionBook"></textarea>
                            </div>
                        </div>

                        <div class="flex flex-col gap-1">
                            <label for="book" class="form-label font-normal text-gray-900">Note</label>
                            <select id="rating" class="select" name="rating">
                                <option value="1">1</option>
                                <option value="1.5">1.5</option>
                                <option value="2">2</option>
                                <option value="2.5">2.5</option>
                                <option value="3">3</option>
                                <option value="3.5">3.5</option>
                                <option value="4">4</option>
                                <option value="4.5">4.5</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                        <div class="flex flex-col gap-1">
                            <label class="switch">
                                <span class="switch-label font-normal text-gray-900">Lecture terminée</span>
                                <input name="check" type="checkbox" value="0" id="finished"/>
                            </label>
                        </div>

                        <div class="flex">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        // Ajax to save the book review
        document.getElementById('ajax-form').addEventListener('submit', function(event) {
            event.preventDefault(); 

            let form = event.target;
            let url = form.action;
            let formData = new FormData(form);

            fetch(url, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.status);
                let messageContainer = document.getElementById('response-message');
                if (data.status === 'success') {
                    let BookData = data.dataBook;
                    let checked = formData.get("check") == 0 ? true : false;
                    if(BookData.length != 0){
                        if(checked){
                            let table = document.getElementById("BookReaded");
                            let tbody = table.querySelector("tbody");
                            let tr = document.createElement("tr");

                            let firstTd = document.createElement("td");
                            let divInTd = document.createElement("div");
                            divInTd.setAttribute("class", "flex flex-col gap-2");
                            let aInTd = document.createElement("a");
                            aInTd.setAttribute("class", "leading-none font-medium text-sm text-gray-900 hover:text-primary");
                            aInTd.setAttribute("href", "#");
                            aInTd.setAttribute("id", BookData["reading"]["id"]);
                            aInTd.setAttribute("onclick", "showBook(this.id);");
                            aInTd.innerText = BookData["book"]["name"];
                            let spanInTd = document.createElement("span");
                            spanInTd.setAttribute("class", "text-2sm text-gray-700 font-normal leading-3")
                            spanInTd.innerText = BookData["book"]["desc"];
                            divInTd.appendChild(aInTd);
                            divInTd.appendChild(spanInTd);
                            firstTd.appendChild(divInTd);

                            let secondTd = document.createElement("td");
                            secondTd.innerText = BookData["cate"]["name"];

                            let thirdTd = document.createElement("td");
                            let divInThird = document.createElement("div");
                            divInThird.setAttribute("class", "rating");
                            let rating = BookData["reading"]["note"];

                            for (let i = 1; i <= 5; i++) {
                                let starLabel = document.createElement('div');
                                starLabel.classList.add('rating-label');
                                
                                if (i <= rating) {
                                    starLabel.classList.add('checked');
                                }

                                let starOn = document.createElement('i');
                                starOn.classList.add('rating-on', 'ki-solid', 'ki-star', 'text-base', 'leading-none');
                                let starOff = document.createElement('i');
                                starOff.classList.add('rating-off', 'ki-outline', 'ki-star', 'text-base', 'leading-none');

                                starLabel.appendChild(starOn);
                                starLabel.appendChild(starOff);

                                divInThird.appendChild(starLabel);
                            }

                            thirdTd.appendChild(divInThird);

                            tr.appendChild(firstTd);
                            tr.appendChild(secondTd);
                            tr.appendChild(thirdTd);
                            tbody.insertBefore(tr, tbody.firstChild);
                            tbody.removeChild(tbody.lastChild);

                        }else{
                            // Create the new book reading
                            let table = document.getElementById("BookReading");
                            let tbody = table.querySelector("tbody");
                            let tr = document.createElement("tr");
                            // the first td
                            
                            let firstTd = document.createElement("td");
                            let divInTd = document.createElement("div");
                            divInTd.setAttribute("class", "flex flex-col gap-2");
                            let aInTd = document.createElement("a");
                            aInTd.setAttribute("class", "leading-none font-medium text-sm text-gray-900 hover:text-primary");
                            aInTd.setAttribute("href", "#");
                            aInTd.setAttribute("id", BookData["reading"]["id"]);
                            aInTd.setAttribute("onclick", "showBook(this.id);");
                            aInTd.innerText = BookData["book"]["name"];
                            let spanInTd = document.createElement("span");
                            spanInTd.setAttribute("class", "text-2sm text-gray-700 font-normal leading-3")
                            spanInTd.innerText = BookData["book"]["desc"];
                            divInTd.appendChild(aInTd);
                            divInTd.appendChild(spanInTd);
                            firstTd.appendChild(divInTd);

                            let secondTd = document.createElement("td");
                            secondTd.setAttribute("class", "text-end");
                            console.log(BookData);
                            secondTd.innerText = BookData["reading"]["updatedAt"].replace(" ", " à ");
                            tr.appendChild(firstTd);
                            tr.appendChild(secondTd);
                            tbody.insertBefore(tr, tbody.firstChild);
                            if(tbody.childElementCount >4){
                                tbody.removeChild(tbody.lastChild);
                            }
                        }
                    }
                    let modalEl = document.querySelector('#book_modal');
                    let modal = KTModal.getInstance(modalEl);
                    modal.hide();
                    form.reset();
                } else {
                    alert(data.message);
                }
            })
            .catch(error => console.log('Erreur:', error));
        });
        
        
    </script>

</div>